---
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import styles from './intro-section.module.sass';
---

<section class={styles.homeBlock}>
  <div class="container mx-auto px-5 lg:max-w-6xl">
    <h1 class={styles.title}>
      <span class={styles.t1}>Responsive &amp; responsible</span>
      <span class={styles.t2}>web development with edge</span>
      <span class={styles.t3}>solutions and great performance</span>
    </h1>
    <div class={styles.actions}>
      <a href="/contact" class={styles.button}>Get in touch</a>
    </div>
  </div>
</section>